<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
         bootstrap = "vendor/autoload.php">
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">
            <directory>./src/Kata/</directory>
            <exclude>
                <directory>./tests/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./testsCoverage/"/>
        <log type="coverage-clover" target="./testsCoverage/Coverage.xml"/>
    </logging>

    <testsuites>
        <testsuite name="PHP Kata Test">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>